In [23]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob
from IPython.display import HTML

In [17]:
for file in glob.glob('0*Portland*'):
    print(file)

In [15]:
for file in glob.glob('0*Portland*'):
    os.remove(file)

In [16]:
for file in glob.glob('0*Portland*'):
    print(file)

In [24]:
df = pd.read_csv('large_gif_data.csv')

In [25]:
df.head()

,Unnamed: 0,lastStopSeq,vehicle_location_longitude,vehicle_location_latitude,datetime
0,65,15,-122.636496,45.459794,2017-01-01 00:00:58
1,156,16,-122.641051,45.438486,2017-01-01 00:04:31
2,875,1,-122.635118,45.430730,2017-01-01 00:29:09
3,963,2,-122.639230,45.442634,2017-01-01 00:32:38
4,1069,3,-122.637924,45.464975,2017-01-01 00:35:57

In [27]:
long = df['vehicle_location_longitude'].tolist()
lat = df['vehicle_location_latitude'].tolist()
lon_lat = []
for y in range(len(lat)):
    lon_lat.append([long[y], lat[y]])

In [28]:
lon_lat[0:10]

[[-122.636496, 45.459794],
 [-122.641051, 45.438486],
 [-122.63511799999999, 45.43073],
 [-122.63923, 45.44263400000001],
 [-122.637924, 45.464975],
 [-122.640522, 45.477247],
 [-122.648344, 45.495573],
 [-122.65033700000001, 45.501202],
 [-122.655281, 45.503979],
 [-122.663004, 45.506640000000004]]

In [57]:
for x in range(len(lon_lat)):
    m=Basemap(projection='mill',
                llcrnrlat = 45.3,
                llcrnrlon = -122.9,
                urcrnrlat = 45.7,
                urcrnrlon = -122.3,
                resolution = 'l')
    xpt, ypt = m(lon_lat[x][0], lon_lat[x][1])
    plt.plot(xpt, ypt, 'c*', markersize=15)
    m.drawrivers()
    m.drawcoastlines()
    
    plt.title('Portland')
    
    filename = '{0:05}'.format(x) + '-Portland.png'
    plt.savefig(filename)
    m=0
    plt.close()

In [31]:
# run in terminal
string = '!for i in *.png; do sips -s format jpeg -s formatOptions 70 "${i}" --out "${i%png}jpg"; done'

In [29]:
!for i in *.png; do sips -s format jpeg -s formatOptions 70 "${i}" --out "${i%png}jpg"; done

Warning: *.png not a valid file - skipping
Error 4: no file was specified
Try 'sips --help' for help using this tool

In [4]:
# %%bash -c 'for i in *.png; do sips -s format jpeg -s formatOptions 70 "${i}" --out "${i%png}jpg"; done'
# random word

In [31]:
files = []
for file in glob.glob('*.jpg'):
    files.append(file)

In [32]:
files.sort()

In [33]:
files

[]

In [8]:
output = 'convert -delay 60 -loop 0'
for file in files:
    output += ' ' + file
output += ' fourth.gif'

In [18]:
!ls

Create Histogram.ipynb     onemonth.gif
Create Portland Maps.ipynb quick.gif
first.gif                  quicker.gif
large_gif_data.csv         second.gif
mapping_coordinates.csv

In [22]:
![SegmentLocal](quicker.gif "segment")

/bin/sh: -c: line 0: syntax error near unexpected token `quicker.gif'
/bin/sh: -c: line 0: `[SegmentLocal](quicker.gif "segment")'

In [36]:
from IPython.display import HTML
HTML('<img src="quicker.gif">')