In [53]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob

In [55]:
for file in glob.glob('*Portland*'):
    print(file)

Create Portland Maps.ipynb

In [2]:
df = pd.read_csv('mapping_coordinates.csv')

In [4]:
df

,Unnamed: 0,lastStopSeq,vehicle_location_longitude,vehicle_location_latitude
0,0,1,-122.675518,45.526135
1,1,2,-122.675425,45.523522
2,2,3,-122.676156,45.521377
3,3,4,-122.677941,45.518067
4,4,5,-122.680419,45.513536
5,5,7,-122.683077,45.508826
6,6,6,-122.682921,45.509080
7,7,8,-122.675109,45.506181
8,8,9,-122.670613,45.502834
9,9,10,-122.661926,45.506468
10,10,11,-122.652921,45.502548
11,11,12,-122.648483,45.493522
12,12,13,-122.646322,45.485558
13,13,14,-122.639231,45.471413
14,14,15,-122.635627,45.456007
15,15,16,-122.641051,45.438486

In [5]:
long = df['vehicle_location_longitude'].tolist()
lat = df['vehicle_location_latitude'].tolist()
lon_lat = []
for y in range(len(lat)):
    lon_lat.append([long[y], lat[y]])

In [6]:
lon_lat

[[-122.675518, 45.526135],
 [-122.675425, 45.523522],
 [-122.676156, 45.521377],
 [-122.67794099999999, 45.518066999999995],
 [-122.680419, 45.513536],
 [-122.683077, 45.508826],
 [-122.682921, 45.50908],
 [-122.675109, 45.506181],
 [-122.67061299999999, 45.502834],
 [-122.661926, 45.506468],
 [-122.65292099999999, 45.502548],
 [-122.64848300000001, 45.493522],
 [-122.646322, 45.48555800000001],
 [-122.63923100000001, 45.471413],
 [-122.635627, 45.456007],
 [-122.641051, 45.438486]]

In [52]:
for x in range(len(lon_lat)):
    m=Basemap(projection='mill',
                llcrnrlat = 45.3,
                llcrnrlon = -122.9,
                urcrnrlat = 45.7,
                urcrnrlon = -122.3,
                resolution = 'f')
    xpt, ypt = m(lon_lat[x][0], lon_lat[x][1])
    plt.plot(xpt, ypt, 'c*', markersize=15)
    m.drawrivers()
    m.drawcoastlines()
    
    plt.title('Portland')
    
    filename = '{0:03}'.format(x) + '-Portland.png'
    plt.savefig(filemae)
    m=0
    plt.close()

In [ ]:
# run in terminal
!for i in *.png; do sips -s format jpeg -s formatOptions 70 "${i}" --out "${i%png}jpg"; done

In [ ]:
files = []
for file in glob.glob('*.jpg'):
    files.append(file)

In [ ]:
files.sort()

In [ ]:
files

In [ ]:
output = 'convert -delay 60 -loop 0'
for file in files:
    output += ' ' + file
output += ' second.gif'

In [ ]:
output